public function get{{ methodName }}(): ?Tardigrades\FieldType\Slug\ValueObject\Slug
{
    if (!empty($this->{{ propertyName }})) {
        return Tardigrades\FieldType\Slug\ValueObject\Slug::fromString($this->{{ propertyName }});
    }
    return null;
}
