{% extends "master.html.twig" %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h3>Edit a blogpost</h3>
        </div>
    </div>

    {% include 'blog-form.html.twig' with {
        form: sectionForm('Example.Blog.Entity.Blog', slug)
    } %}

{% endblock %}
