<!doctype html>
<html>
    <head>
        <title>Dit is de titel</title>
    </head>
    <body>
        <h1>Homepage {{ test }}</h1>
        <ul>
            <li><a href="/create-blog">Create</a></li>
            <li><a href="/edit-blog/some-super-blog">Edit</a></li>
        </ul>
    </body>
</html>
