{% extends "master.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <h2>Examples</h2>
                    <ul>
                        <li><a href="/blog">Blog</a></li>
                        <li><a href="/relationships">Relationships</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
