{% extends "master.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <a href="/relationships"><- Relationships</a>
            <hr />
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2>One to one</h2>

        </div>
    </div>
{% endblock %}
