{% extends "master.html.twig" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h2>Relationships</h2>
            <ul>
                <li><a href="/relationships/one-to-many">One to Many</a></li>
                <li><a href="/relationships/many-to-one">Many to One</a></li>
                <li><a href="/relationships/many-to-many">Many to Many</a></li>
                <li><a href="/relationships/one-to-one">One to One</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
