<?php
declare (strict_types=1);

namespace {{ namespace }};

class {{ section }}
{
    {{ properties }}
    {{ methods }}
    {{ getSlug }}

    public function onPrePersist(): void
    {
        {{ prePersist }}
    }

    public function onPreUpdate(): void
    {
        {{ preUpdate }}
    }
}

