public function get{{ methodName }}(): ?\DateTime
{
    return $this->{{ propertyName }};
}

public function set{{ methodName }}(\DateTime ${{ propertyName }}): {{ section }}
{
    $this->{{ propertyName }} = ${{ propertyName }};
    return $this;
}
